$font-stack: 'Varela Round', sans-serif;
$blue: #01BEFE;
$yellow: #FFDD00;
$orange: #FF7D00;
$pink: #FF006D;
$green: #ADFF02;
$violet: #8F00FF;
$midpoint: #485FFF;
$black: rgb(30, 30, 30);

body {
    margin: 0;
}

#body {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;

}

.text {
    font-family: $font-stack;
    color: $black;
}

#navbar {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow;
    justify-self: stretch;
    font-size: 40px;
    padding: 15px;
    position: sticky;
}

.miniBar {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    justify-self: stretch;
    color: white;
}

#leftMiniBar {
    background-image: linear-gradient(to right, $violet, 85%, $midpoint);
}

#rightMiniBar {
    background-image: linear-gradient(to right, $midpoint, 15%, $blue)
}

#partBoxes {
    background-color: $pink;
    border-radius: 14px;
    margin-top: 10px;
    padding: 20px;
    width: 70%;
    color: white;
    font-family: $font-stack;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

#premadeDb {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#creatorDb {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    width: 100%
}

#creatorBox {
    align-self: center;
    width: 70%;
    background-color: $green;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 20px 20px;
}

#creatorBoxTitle {
    font-size: 1.5em;
    margin: 15px 0px 15px 0px;
    color: rgb(30, 30, 30);

}

.inputBoxes {
    width: 50%;
    height: 25px;
    border-radius: 14px;
    border: solid 1px $black;
}

#submitButton {
    border: solid 1px $black;
    font-family: $font-stack;
    border-radius: 20px;
    width: 40%;
    height: 30px;
    background-color: $blue;
}

#createdBoxes {
    background-color: $blue;
    border-radius: 14px;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: $font-stack;
    font-weight: 600;
    letter-spacing: 1px;
}